.home {
 background-color: rgba(0, 0, 0, 0.6);
 height: 100vh;
 width: 100vw;

 .home__container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 50%;
     height: 80vh;
     padding: 0 100px;
     color: #daa520;

     .home__title {
         padding: 20px 0;

        p {
            color: whitesmoke;
            font-size: 1.2rem;
        }
     }

     .home__header {
         color: whitesmoke;
     }

     h1{
         font-size: 3.5rem;
     }

     p {
        font-size: 1.5rem;
    }
 }
}