.Product {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);

    .Product__filter {
        margin-top: 0;
        width: 100vw;

        .Product__container {
        height: auto;
        width: auto;
        background-color: rgb(0, 0, 0);
        }
    }
}