.filter__container {
    display: grid;
    width: 100vw;
    justify-content: center;
    padding: 20px 0;

    .filter {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        color: #daa520;
        align-content: center;
    }
}