.product__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100vw;

    .products {
        display: flex;
        flex-direction: column;
        color: #daa520;
        width: 100%;

        h1 {
            font-size: 1.2rem;
            text-align: center;
            padding: 10px 0;
        }

        img {
            height: 250px;
            object-fit: contain;
        }
    }
}